.navbar{
    background: transparent;
}
.homepage{
    padding-top: 5%;
    text-align: center;
    h2{
        color: black;
        line-height: 22px;
        letter-spacing: 1px;
        font-weight: 200;
        margin: 0;
        padding: 0;
    }
}
.container{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.App{
    background-image: url(./components/images/preview.jpg);
}
.inputF{
    background-color: rgb(27,112,137);
    border:0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;;
}
.navlink{
    float:left;
    .link{
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .link:hover{
        background-color: #111;
    }
}
.buttonF{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: #bf07ac;
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
}
.inputC{
    background-color: rgb(27,114,12);
    border:0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
}
.buttonC{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: #bf12bf;
    cursor: pointer;
    font-weight: bolder;
    color: #fff;
}